body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 100%;
  padding: 16px;
}

.search-form {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  
  padding: 2px 6px;
  border-radius: 2px;
}
.form-box {
  background-color: #009688;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.load-more.is-hidden {
  display: none;
}

.load-more > .spinner.is-hidden {
  display: none;
}